body {
    margin: 0; padding: 0;
}

.App {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; height: 100vh;
    background-color: #ccc;
}

.fade-enter {
    opacity: 0;
    z-index: 1;
}
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 250ms ease-in;
}

.Screen {
    /* allows screens to replace each other with animation */
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    /* align things inside to our center */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.CenterModal {
    width: 400px; height: 600px;
    background-color: white;
    border: solid 1px #ccc;
    border-radius: 3px;
    box-shadow: rgba(0,0,0,0.25) 0 1px 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media(max-width: 400px) {
    .CenterModal {
        width: 100%; height: 100%; border: none;
    }
}
@media(max-height: 600px) {
    .CenterModal {
        width: 100%; height: 100%; border: none;
    }
}


/*
---------------------------------------------------
--- profile creation
---------------------------------------------------
*/

.NameStyler {
    display: inline-block;
    font-size: 16px;
    font-family: "Inconsolata", sans-serif;
    border: none;
    border-bottom: solid 3px #ccc;
    text-align: center;
    padding: 5px 8px 5px 8px;
    background: #f6f6f6;

    outline: none;

    margin-bottom: 1em;
}
.NameStyler:focus {
    border-bottom: solid 3px #6eb1ff;
}



/*
---------------------------------------------------
--- game state
---------------------------------------------------
 */

.DictIndicator {
    font-size: 12px;
    margin-bottom: 1em;
    min-height: 8em;
}

.WordHolder {
    display: flex;
    justify-content: center;
}

.WordStyler {
    display: inline-block;
    width: 0.75em;
    font-size: 24px;
    font-family: "Inconsolata", sans-serif;
    border: none;
    border-bottom: solid 3px #ccc;
    text-align: center;
    padding: 3px;
}

.CurrentSegment.error {
    background-color: pink;
}

.NewLetter {
    background: #eee;
    outline: none;
    width: 1em;
}
.NewLetter:focus {
    border-bottom: solid 3px #6eb1ff;
}


/*
---------------------------------------------------
--- controls
---------------------------------------------------
 */

.ButtonTray {
    margin-top: 1.5em;
    display: flex; flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Button {
    margin-top: 0.5em;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    background-color: #aaa;
    color: white;
    padding: 8px;
    width: 150px;
    outline: none;
    cursor: pointer;

    transition: background-color 0.2s linear;
}
.Commit.ready {
    background-color: dodgerblue;
}
.Reset {
    background-color: #c771ff;
}
.Challenge {
    background-color: #ffaf78;
}
.ProfileSelected {
    background-color: dodgerblue;
}

#HardReset {
    margin: 0;
    font-size: 14px;
    background-color: #ccb8c7;
    position: absolute;
    right: 10px;
    top: 10px;
}
#HardReset:hover {
    background-color: #cc66b3;
}


/*
---------------------------------------------------
--- player display
---------------------------------------------------
 */

.PlayerTray {
    font-size: small; color: #aaa; margin-bottom: 1em;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.PlayerTile {
    position: relative;
    margin: 20px 10px; padding: 15px 25px;
    height: 65px; max-width: 50px;
    flex: 1 1 40px;
    vertical-align: middle;
    border-radius: 25px;
    background: #ddd;

    color: black;
}
.PlayerTile .PlayerScore {
    font-size: 18px;
    font-weight: bold;
}
.PlayerTile .SelfLabel {
    font-size: 10px;
    margin-top: 0.2em;
    color: #555;
}

/* indicators for who you are + whose turn it is */
/*
.PlayerTile.current {
    font-weight: bold;
    color: black;
    background-color: pink;
}
.PlayerTile.current.you {
    background-color: #a1deff;
}
*/
.PlayerTile.you {
    background: #d9f2ff;
}

.arrow-down {
    visibility: hidden;
    opacity: 0;

    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-radius: 5px;
    border-top: 15px solid #777;

    position: absolute;
    top: -15px; left: 34%;

    transition: opacity 0.2s linear, top 0.3s ease-in;
}
.PlayerTile.current .arrow-down {
    visibility: visible;
    opacity: 1;

    top: -8px;

    transition: opacity 0.2s linear, top 0.3s ease-in;
    animation: bouncy 0.5s ease-in-out infinite alternate;
}

/*
.PlayerTile.current.you .arrow-down {
    animation: bouncy 0.5s ease-in-out infinite alternate;
}
*/

@keyframes bouncy {
    from { transform: translate(0, -5px) }
    to { transform: translate(0, 5px) }
}