body {
    margin: 0; padding: 0;
}

.App {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; height: 100vh;
    background-color: #ccc;
}

.pagefade-enter {
    opacity: 0;
    z-index: 1;
}
.pagefade-enter.pagefade-enter-active {
    opacity: 1;
    transition: opacity 250ms ease-in;
}

.Screen {
    /* allows screens to replace each other with animation */
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    /* align things inside to our center */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.CenterModal {
    width: 400px; height: 600px;
    background-color: white;
    border: solid 1px #ccc;
    border-radius: 3px;
    box-shadow: rgba(0,0,0,0.25) 0 1px 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media(max-width: 400px) {
    .CenterModal {
        width: 100%; height: 100%; border: none;
    }
}
@media(max-height: 600px) {
    .CenterModal {
        width: 100%; height: 100%; border: none;
    }
}


/*
---------------------------------------------------
--- profile creation
---------------------------------------------------
*/

.NameStyler {
    display: inline-block;
    font-size: 16px;
    font-family: "Inconsolata", sans-serif;
    border: none;
    border-bottom: solid 3px #ccc;
    text-align: center;
    padding: 5px 8px 5px 8px;
    background: #f6f6f6;

    outline: none;

    margin-bottom: 1em;
}
.NameStyler:focus {
    border-bottom: solid 3px #6eb1ff;
}



/*
---------------------------------------------------
--- game state
---------------------------------------------------
 */

.DictIndicator {
    font-size: 18px;
    margin-bottom: 1em;
    min-height: 8em;
}

.WordHolder {
    display: flex;
    justify-content: center;
}

.WordStyler {
    display: inline-block;
    width: 0.75em;
    font-size: 24px;
    font-family: "Inconsolata", sans-serif;
    border: none;
    border-bottom: solid 3px #ccc;
    text-align: center;
    padding: 3px;
}

.CurrentSegment.error .CommittedLetter {
    background-color: pink;
}

.NewLetter {
    background: #eee;
    outline: none;
    width: 1em;
}
.NewLetter:focus {
    border-bottom: solid 3px #6eb1ff;
}


/*
---------------------------------------------------
--- controls
---------------------------------------------------
 */

.ButtonTray {
    margin-top: 1.5em;
    display: flex; flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Button {
    margin-top: 0.5em;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    background-color: #aaa;
    color: white;
    padding: 8px;
    width: 150px;
    outline: none;
    cursor: pointer;

    transition: background-color 0.2s linear;
}
.Commit.ready {
    background-color: dodgerblue;
}
.Reset {
    background-color: #c771ff;
}
.Challenge {
    background-color: #ffaf78;
}
.ProfileSelected {
    background-color: dodgerblue;
}

#HardReset {
    margin: 0;
    font-size: 14px;
    background-color: #ccb8c7;
    position: absolute;
    right: 10px;
    top: 10px;
}
#HardReset:hover {
    background-color: #cc66b3;
}


/*
---------------------------------------------------
--- player display
---------------------------------------------------
 */

.PlayerTray {
    font-size: small; color: #aaa;
    margin-bottom: 1em;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.PlayerTile {
    position: relative;
    margin: 10px 5px; padding: 15px 20px;
    height: 65px;
    width: 50px;
    flex: 0 1 50px;
    vertical-align: middle;
    border-radius: 25px;
    background-color: #ddd;

    color: black;

    transition: transform 500ms, background-color 1s;
}
.PlayerTile .PlayerID {
    white-space: nowrap;
    font-size: 14px;
}
.PlayerTile .PlayerScore {
    font-size: 22px;
    font-weight: bold;
}

.PlayerTile .PlayerScore .ScoreLetter {
    color: #49525c;
}

.PlayerTile.you {
    background-color: #d9f2ff;
}

.PlayerTile.dead {
    transform: scale(0.75, 0.75);
    background-color: #eee;
}

/* current player indication + animation */

.arrow-down {
    visibility: hidden;
    opacity: 0;

    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-radius: 5px;
    border-top: 15px solid #777;

    position: absolute;
    top: -15px; left: 34%;

    transition: opacity 0.2s linear, top 0.3s ease-in;
}
.PlayerTile.current .arrow-down {
    visibility: visible;
    opacity: 1;

    top: -8px;

    transition: opacity 0.2s linear, top 0.3s ease-in;
    animation: bouncy 0.5s ease-in-out infinite alternate;
}

@keyframes bouncy {
    from { transform: translate(0, -5px) }
    to { transform: translate(0, 5px) }
}

/* score delta animation */

.PlayerTile .deltas .score-delta {
    font-weight: bold;
    font-size: 48px;
    font-family: 'Arial Black', sans-serif;
    position: absolute;
    top: -30px;
    z-index: 100;
    left: 0; right: 0;
    text-align: center;
}

.PlayerTile .deltas .score-delta.score-up {
    animation: wowzer 1s ease-in-out;
    opacity: 0;
}


@keyframes wowzer {
    0% { opacity: 1; transform: translateY(0px); }
    50% { opacity: 1; }
    100% { opacity: 0; transform: translateY(-30px); }
}

@keyframes zoomer {
    0% { opacity: 0; transform: scale(1, 1); }
    90% { opacity: 1; transform: scale(3, 3); }
    100% { opacity: 0; transform: scale(1, 1); }
}


/*
---------------------------------------------------
--- challenge display
---------------------------------------------------
 */

.ChallengeDisplay {
    display: flex;
    width: 40%;
    justify-content: space-between;
    align-items: center;
}

.ChallengeDisplay .conflicter {
    font-size: 24px;
    animation: zoomer 0.5s ease-in-out infinite;
}

.challenge-contender {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px; height: 60px;
    /*
    border-radius: 30px;
    background: #eee;
    */

    transition: opacity 0.2s linear, transform 0.3s ease-in;
    animation: bouncy 0.3s ease-in-out infinite alternate;
}

.challenge-contender.challenger {
    animation: bouncy 0.3s ease-in-out infinite alternate-reverse;
}

